{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="general-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="center">Тест</h1>
                <p>ввести id - получить имя</p>
                <br>
                <div class="">
                    <form class="" action="" method="post">{% csrf_token %}
                        {{ form }}
                        <input type="submit" value="OK" />
                    </form>
                    <hr>
                    <p>User: {{user_name}} {{user_lastName}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
